* {
    font-family: Arial, Helvetica, sans-serif ;
    color: #000000;
}

section h2 {
    font-size: 28px;
    padding-bottom: 3%;
    color: #2C3E50;
}

.header a {
    font-size: 18px;
    font-weight: 600;
}
@media (min-width: 50em) {
    .header a {
        font-size: 1.5em;
    }
}

.header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 2%;
}
.myName {
    font-size: 36px;
    flex-grow: 1;
    color: #2C3E50;
    margin-left: 2%;
    
}
h1 .myName {
    margin: .25em;
}
.nav {
    text-decoration: none;
    margin: .5em;
    margin-right: 1em;
    /* padding: 0% 1% 0% 0%; */
}
.nav:hover {
    border-bottom: 7px solid currentColor;
}

@media (min-width: 50em) {
    .myName {
        font-size: 2.5em;
    }
    .nav {
        font-size: 1.25em;
    }
}

/* *** BEGIN HERO SECTION *** */

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 20vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/Hero.jpeg);
    background-size: cover;
    margin-bottom: 4%;
}
.hero p {
    font-weight: 900;
    font-size: 40px;
    color: white;
    margin-left: 5%;
}
@media (min-width: 50em) {
    .hero {
        align-items: flex-end;
    }
    .hero p {
        margin-right: 5%;
    }
}

.section h2 {
    margin: 0% 3% 0% 3%;
    min-width: 5em;
}

/* *** BEGIN ABOUT SECTION *** */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 10% 5% 0%;
}
.about-text {
    margin: 0% 10% 5% 10%;
}

@media (min-width: 50em) {
    .about {
        flex-direction: row;
        align-items: center;
        justify-content: right;
        /* align-items: center; */
    }
    .about-label {
        /* width: 10%; */
        flex-basis: 250px;
        /* border: slateblue;
        border-width: 2px;
        border-style: solid; */
    }
    .about-text {
        flex-grow: 3;
        margin: 0% 10% 5% 0%;
    }    
}

/* *** BEGIN WORK SECTION *** */

.myWorkLg {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 50em) {
    .myWorkLg {
        flex-direction: row;
    }
}
.myWorkLg img {
    width: 62.5vw;
    border: lightblue;
    border-width: 5px;
    border-style: solid;
}
.boxBig {
    display: block;
    width: 62.5vw;
    border: lightblue;
    border-width: 5px;
    border-style: solid;
    height: 51vh;
    opacity: .7;
    transition-property: opacity;
    transition-duration: 1s;
    background-size: cover;
}
.boxBig p {
    color: white;
    background-color: darkblue;
    display: inline-block;
    padding: 8px;
}
.boxBig:hover {
    opacity: 1;
}
.box {
    display: block;
    width: 62.5vw;
    height: 24vh;
    opacity: .7;
    transition-property: opacity;
    transition-duration: 1s;
    background-size: cover;
    margin: .5em;
    border: lightblue;
    border-width: 5px;
    border-style: solid;
}
@media (min-width: 50em) {
    .box {
        flex-direction: row;
        width: 30vw;
        height: 24vh;
            }
}
.box p {
    color: white;
    background-color: darkblue;
    display: inline-block;
    padding: 8px;
}
.box:hover {
    opacity: 1;
    /* filter: brightness(100%); */
    /* -webkit-filter: brightness(130%); */
}
#boxBig {
    background-image: url("../images/02-portfolio-1.jpg");
}
#box1 {
    background-image: url("../images/02-portfolio-2.jpg");
}
#box2 {
    background-image: url("../images/02-portfolio-3.jpg");
}
#box3 {
    background-image: url("../images/02-portfolio-4.jpg");
}
#box4 {
    background-image: url("../images/02-portfolio-1.jpg");
}
.myWorkSm1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 50em) {
    .myWorkSm1 {
        flex-direction: row;
        margin: 2% 0% 2% 0%;
        flex-wrap: wrap;
    }
}
.myWorkSm2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 50em) {
    .myWorkSm2 {
        flex-direction: row;
        margin: 2% 0% 2% 0%;
        padding-bottom: 3%;
        flex-wrap: wrap;
    }
}

/* *** BEGIN CONTACT SECTION *** */

.addresses {
    display: flex;
}
    
.address {
    font-size: 18px;
    font-weight: 900;
    color: black;
    margin: 1% 2% 5% 1%;
    justify-content: space-between;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 10px;
    margin-top: 5%;
}

@media (min-width: 50em) {
    .contact {
        flex-direction: row;
    }
    .address {
        font-size: 1.0em;
    }
}
